@import "partials/setup";

body, html {
  font-size: 10px;
}

h1 {
  font-size: 4.5rem;
  // color: green;
}

header {
  height: 100vh;
  background-color: lightyellow;
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 1px solid pink;
}

.titleCard {
  height: 300px;
  // NB Won't need the height later - can use padding and margin from buttons
  width: 30%;
  border: 1px solid green;

    h2 {
      text-align: center;
    }

    .titleButton {
      background-color: skyblue;
      border: none;
    }
}
