.titleButton {
  width: 100%;
  color: white;
  background-color: $mainRed;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 18px -5px rgba(0,0,0,0.75);
  margin-bottom: 50px;
  transition: .5s all;
  &:hover {
    background-color: darken($mainRed,15);
  }

  @include respond-to("medium") {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}

.getRandomButton {
  width: 100%;
  color: white;
  background-color: darken($goldAccent,20);
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 18px -5px rgba(0,0,0,0.75);
  margin-bottom: 0;
  transition: .5s all;
  &:hover {
    background-color: white;
    color: $nearBlack;
  }
}

.myListButton {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  box-shadow: 6px 6px 18px -5px rgba(0,0,0,0.75);
  margin-top: 20px;
  background-color: black;
  border: none;
  color: white;
  @include respond-to("medium") {
    // margin-bottom: 20px;
    margin-top: 10px;
  }
}

.removeButton {
  width: 35px;
  padding: 0px;
  background: none;
  border: none;
  font-size: 1.4rem;
}

.addToListButton {
  width: 50%;
  padding: 8px 0px;
  font-size: 1rem;
  background-color: $nearBlack;
  color: white;
  border: none;
  margin-bottom: 20px;
}