.titleButton {
  width: 100%;
  color: $nearBlack;
  background-color: $mainTeal;
  // background-color: transparent;
  // border: 1px dashed $goldAccent;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 18px -5px rgba(0,0,0,0.75);
  margin-bottom: 50px;
  transition: .5s all;
  &:hover {
    background-color: darken($mainTeal,15);
  }

  @include respond-to("medium") {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  @include respond-to("small") {
    font-size: 1rem;
  }

}

.getRandomButton {
  width: 100%;
  color: white;
  background-color: darken($goldAccent,40);
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 18px -5px rgba(0,0,0,0.75);
  margin-bottom: 0;
  transition: .5s all;
  &:hover {
    background-color: white;
    color: $nearBlack;
  }

  @include respond-to("small") {
    font-size: 1rem;
  }
}

.myListButton {
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  box-shadow: 6px 6px 18px -5px rgba(0,0,0,0.75);
  margin-top: 20px;
  // background-color: black;
  background-color: darken($goldAccent,40);
  border: none;
  color: white;

  &:hover {
    background-color: white;
    color: $nearBlack;
  }
  @include respond-to("medium") {
    // margin-bottom: 20px;
    margin-top: 10px;
  }

  @include respond-to("small") {
    font-size: 1rem;
  }
}

.removeButton {
  width: 35px;
  padding: 0px;
  background: none;
  border: none;
  font-size: 1.4rem;
}

.addToListButton {
  width: 50%;
  padding: 8px 0px;
  font-size: 1rem;
  background-color: $nearBlack;
  color: white;
  border: none;
  margin-bottom: 20px;
}

.loginButton {
  background-color: $buttonMain;
  color: black;
  font-size: 1rem;
  font-family: $sansSerif;
  padding: 10px;
  width: 100px;
  margin-top: 20px;
  border: none;
  @include respond-to("small") {
    font-size: 0.7rem;
    padding: 8px;
    width: 80px
  }
}

.logoutButton {
  background-color: $trash;
  color: white;
  font-size: 1rem;
  font-family: $sansSerif;
  padding: 10px;
  width: 100px;
  margin-top: 20px;
  border: none;

  @include respond-to("small") {
    font-size: 0.7rem;
    padding: 8px;
    width: 80px
  }
}