body {
  font-size: 10px; 
  color: white;
  font-family: $sansSerif;
  background: $mainTeal;
}

h1 {
  font-size: 5rem;
  font-family: $displayFont;
  color: $mainRed;
  text-shadow: 1px 1px 3px #FFFFFF;
  margin-bottom: 10px;
  margin-top:0;

  @include respond-to(medium) {
    font-size: 4rem;
    margin-top: 30px;
  }
}

h2 {
  font-size: 2rem;
  font-family: $displayFont;
  text-shadow: 1px 1px 3px #000;
  font-weight: 100;
  margin: 0;

  @include respond-to("medium") {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 30px;
  }
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}