header {
  background: url("../../images/new_header.jpg");
  // background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../../images/new_header.jpg") no-repeat;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  // padding-top: 100px;
  // padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;

  p {
    font-size: 1rem;
    color: white;
    font-family: $sansSerif;
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  .titleText {
    display: flex;
    // border: 1px solid red;
    flex-direction: column;
    // align-items: flex-end;
    width: 68%;

    @include respond-to("xlarge") {
      width: 40%;
    }
  }

  @include respond-to("medium") {
    background-size: 100% 100%;
    padding: 0;
  }
}
