.loginMessage {
	p {
		color: $nearBlack;
		font-size: 1.2rem;
		font-family: $sansSerif;

		@include respond-to("small") {
		  font-size: 0.8rem;
		}
	}

	.userProfile {

		@include respond-to("xlarge") {
			position: fixed;
			bottom: 20px;
			right: 40px;
			width: 100px;
			height: 100px;
		}
		// @include respond-to("large") {
		// 	display: none;
		// }
		
		display: block;
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 90px;
		height: 90px;
		
	
		// @include respond-to("medium") {
		// 	right: 20px;
		// 	width: 90px;
		// 	height: 90px;
		// }

		@include respond-to("small") {
			display: none;
		}

		img {
			border-radius: 50%;
			max-width: 100%;
		}
	}
}