// fonts & colors
$sansSerif: 'Lato', sans-serif;
// $serif: 'Cormorant Garamond', serif;
$displayFont: 'Londrina Solid', cursive;

$mainTeal: #8fbebd;
$goldAccent: #febf70;
$nearBlack: #4e5353;
$mainRed: #B82601;

$lightGray: #ebebea;