// fonts & colors
$sansSerif: 'Lato', sans-serif;
// $displayFont: 'Londrina Solid', cursive;
$displayFont: 'Work Sans', sans-serif;

// $mainTeal: #8fbebd;
// $goldAccent: #febf70;
$nearBlack: #4e5353;
// $mainRed: #B82601;

$mainRed: #B31B22;
$goldAccent: #F2F2F2;
$mainTeal: #9FCED8;

