// fonts & colors
$sansSerif: 'Lato', sans-serif;
$serif: 'Cormorant Garamond', serif;
$displayFont: 'Contrail One', cursive;

$mainTeal: #8fbebd;
$goldAccent: #febf70;
$lightGray: #ebebea;
$nearBlack: #4e5353;