article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: url("../../images/new_header.jpg");
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  header .titleText {
    display: flex;
    flex-direction: column;
    width: 68%; }
    @media (min-width: 1500px) {
      header .titleText {
        width: 40%; } }
  @media (max-width: 768px) {
    header {
      background-size: 100% 100%;
      padding: 0; } }

footer {
  width: 100%;
  display: flex;
  justify-content: center; }
  footer p {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: black; }

body {
  font-size: 10px;
  color: white;
  font-family: "Lato", sans-serif;
  background: #D8DCDF; }

h1 {
  font-size: 4.8rem;
  font-family: "Allura", cursive;
  color: white;
  text-shadow: 1px 1px 3px #000;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0; }
  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
      margin-top: 30px; } }

h2 {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-shadow: 1px 2px 1px black;
  font-weight: 400;
  margin: 0;
  color: #F2F2F2;
  letter-spacing: 1.2px;
  line-height: 1.4; }
  @media (max-width: 768px) {
    h2 {
      font-size: 1rem;
      text-align: center; } }

.hidden {
  display: none; }

.wrapper {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 240px;
  margin-top: 40px; }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 480px) {
    .container {
      flex-direction: column; } }

.mainList {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 6px 6px 18px -5px rgba(0, 0, 0, 0.75); }
  .mainList form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mainList ul {
    padding-left: 5px;
    list-style: none; }
    .mainList ul li {
      padding: 10px; }
  .mainList .inputField {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px; }
  .mainList .itemsList {
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Lato", sans-serif;
    color: #4e5353;
    text-transform: capitalize; }

.titleCard {
  width: 30%; }
  @media (max-width: 768px) {
    .titleCard {
      width: 80%; } }
  @media (max-width: 480px) {
    .titleCard {
      width: 100%; } }

.titleButton {
  width: 100%;
  color: white;
  background-color: #B31B22;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 18px -5px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
  transition: .5s all; }
  .titleButton:hover {
    background-color: #711115; }
  @media (max-width: 768px) {
    .titleButton {
      margin-top: 30px;
      margin-bottom: 30px; } }

.getRandomButton {
  width: 100%;
  color: white;
  background-color: #8c8c8c;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 18px -5px rgba(0, 0, 0, 0.75);
  margin-bottom: 0;
  transition: .5s all; }
  .getRandomButton:hover {
    background-color: white;
    color: #4e5353; }

.myListButton {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  box-shadow: 6px 6px 18px -5px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
  background-color: #8c8c8c;
  border: none;
  color: white; }
  @media (max-width: 768px) {
    .myListButton {
      margin-top: 10px; } }

.removeButton {
  width: 35px;
  padding: 0px;
  background: none;
  border: none;
  font-size: 1.4rem; }

.addToListButton {
  width: 50%;
  padding: 8px 0px;
  font-size: 1rem;
  background-color: #4e5353;
  color: white;
  border: none;
  margin-bottom: 20px; }
